@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-desktop,
.dashboard-mobile,
.mainpage-desktop,
.mainpage-mobile {
    display: none;
}

@media (min-width: 768px) {
    .dashboard-desktop,
    .mainpage-desktop {
        display: block;
    }

    .tabs {
        display: flex;
    }
}

@media (max-width: 767px) {
    .dashboard-mobile,
    .mainpage-mobile {
        display: block;
        overflow: scroll;
    }

    .tabs {
        display: block;
    }
}

.tutorial > *,
.tutorial > ol > li {
    margin-bottom: 15px;
    margin-top: 15px;
}

.credits {
    display: inline;
}

.credits > a {
    text-decoration: underline;
}
